h1 {
  font-size: 40px;
  color: red;
  text-transform:capitalize;
  text-align: right;
}
h2{
  font-size: 40px;
  text-align: center;
  color: green;
  border: 5px gray dotted;

}
p{
  background-color: black;
  color: white;
  font-size: 30px;
}
p span{
  color: yellow;
  text-decoration: underline;
  font-style: italic;
}
h3{
  color: blue;
}
ul{
  list-style: square;
}
ol{
  list-style:upper-roman ;
}
li{
  color: brown;
}
