/* .red-square{
    height: 100px;
    width: 100px;
    background-color: red;
} */
/* ******************* */
/* .color-box{
    height: 100px;
    width: 100px;
    background-color: limegreen;
} */
/* ******************* */
