

.calc{
    width:400px;
    height:575px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.res{
    background-color: black;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    padding-top: 23px;
    font-family: "Courier New", Courier, monospace;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    margin-bottom: .5%;
    
    
}
#but{
    /* background-color: #d8d9db; */
    font-size: 40px;
    /* border-top: .5px solid white; */
    cursor: pointer;
    
    
}

.c{
    width: 49.5%;
    height: 100px;
    
}
.arrow{
    width: 24.5%;
    height: 100px;
}
.divide{
    width: 24.5%;
    height: 100px;
    background-color: #df974c;
}
.seven{
    width: 24.5%;
    height: 100px;

}
.eight{
    width: 24.5%;
    height: 100px;

}
.nine{
    width: 24.5%;
    height: 100px;


}
.multiply{
    width: 24.5%;
    height: 100px;
    background-color: #df974c;

}
.four{
    width: 24.5%;
    height: 100px;

}
.five{
    width: 24.5%;
    height: 100px;

}
.six{
    width: 24.5%;
    height: 100px;

}
.minus{
    width: 24.5%;
    height: 100px;
    background-color: #df974c;

}
.one{
    width: 24.5%;
    height: 100px;

}
.two{
    width: 24.5%;
    height: 100px;

}
.three{
    width: 24.5%;
    height: 100px;

}
.plus{
    width: 24.5%;
    height: 100px;
    background-color: #df974c;

}
.zero{
    width:74.5%;
    height: 100px;
}
.equal{
    width: 24.5%;
    height: 100px;
    background-color: #df974c;
}