:root{
    --main--color:#ff9800
}
*{
    box-sizing: border-box ;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/* start settings box */
.setting-box{
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #fff;
    width: 200px;
    z-index: 10000;
    min-height: 100vh;
    transition: .3s;
    border: 1px solid #eee;
}
.setting-box.open{
    left: 0;
}
.setting-box .fa-gear{
    padding: 8px 0;
    width: 30px;
}
.setting-box .toogle-setting{
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;

}
.setting-box  .option-box{
    padding: 10px;
    text-align: center;
    background-color: #eee;
    margin: 10px ;
}
.setting-box  .option-box h4{
    margin: 0;
    color: #666;
    font-size: 14px;

}
.setting-box  .option-box .colors-list{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}
.setting-box  .option-box .colors-list li{
    width: 24px;
    height: 24px;
    background-color:#333 ;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    border: 3px solid #eee;
}
.setting-box  .option-box .colors-list li.active{
    border: 3px solid #fff;
}
.setting-box  .option-box .colors-list li:first-child{
    background-color: #ff9800;
}
.setting-box  .option-box .colors-list li:nth-child(2){
    background-color:#E91E63 ;
}
.setting-box  .option-box .colors-list li:nth-child(3){
    background-color:#009688 ;
}
.setting-box  .option-box .colors-list li:nth-child(4){
    background-color:#03A9F4 ;
}
.setting-box  .option-box .colors-list li:nth-child(5){
    background-color:#4CAF50 ;
}
.setting-box  .option-box .yes,
.setting-box  .option-box .no{
    width: 50px;
    background-color:#009688 ;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: .5;
    cursor: pointer;
}
.setting-box .option-box span.active{
    opacity: 1;
}

.setting-box .reset-option{
    background-color: var(--main--color);
    width:178px ;
    border: none;
    margin: 10px auto;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* end settings box */

/* start nav bullets */
.nav-bullets{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 1000;
}
.nav-bullets .bullet{
    width: 20px;
    height: 20px;
    border:3px solid var(--main--color);
    border-radius: 50%;
    z-index: 1000;
    margin: 20px auto;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet:hover .tooltip{
    display: block;
}
.nav-bullets .bullet .tooltip{
    background-color: var(--main--color);
    width: 120px;
    color:#fff;
    padding: 8px 10px ;
    position: absolute;
    right: 32px;
    top: -10px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullets .bullet .tooltip::after{
    content: " ";
    border-style:solid ;
    border-color: transparent transparent transparent  var(--main--color);
    border-width:10px ;
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}
/* end nav bullets */

/* strt landing bage */
.landing-page{
    min-height: 100vh;
    background-image: url(../images/01.jpg);
    background-size: cover;
    position: relative;
}
.landing-page .over-lay{
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: .6;

}
.landing-page .container{
    position: relative;
    z-index: 1000;
}
.landing-page .header-area{
    position: relative;
    z-index: 2;
    color: #fff ;
    display: flex;
    padding: 10px;
}
.landing-page .header-area .logo{
    width: 300px;
    padding: 15px;
    font-weight: bold;
    
}
.landing-page .header-area .links-container{
    width: 100%;
    text-align: right;
}
.landing-page .header-area .links{
    list-style: none;
    /* padding: 0; */
    padding-left: 0;
    padding-right: 20px;
    
    
}
.landing-page .header-area .links li{
    display: inline-block;
    margin-left: 10px;
    
}

.landing-page .header-area .links li a{
    text-decoration: none;
    color: white;
    transition: .3s;
}
.landing-page .header-area .links li a:hover{
    color:var(--main--color) ;
    
}
.landing-page .header-area .links li a.active{
    color:var(--main--color) ;
}
.header-area .toggle-menu{
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
    position: relative;
}
.header-area .toggle-menu.menu-active::before{
    content: " ";
    border-width: 10px;
    border-style:solid ;
    border-color:  transparent transparent  #fff transparent;
    bottom: -18px;
    left: 10px;
    position: absolute;
}
.header-area .toggle-menu span{
    width: 30px;
    display: block;
    background-color: #fff;
    height: 3px;
    margin-bottom: 4px;
}
.intro{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: #fff;
    text-align: center;
    width: 95%;
}
.intro h1{
    font-size:34px ;
    margin: 0 0 12px ;
}
@media(max-width:575px){
    .intro h1{
        font-size: 26px;
    }
}
.intro h1 span{
    color: var(--main--color)
}
.intro p{
    line-height: 1.6;
    font-size: 20px ;
    margin: 0;
}
@media (max-width:991px){
    .landing-page .header-area .links{
        display: none;
    }
    .header-area .links.open{
        background-color: #fff;
        padding: 20px;
        display: block;
        position: absolute;
        right:  0;
        top:50px;
        width: 100%;
        border-radius: 6px;
        text-align: left;
        
    }
    .header-area .links.open li{
        display: block;
        margin: 10px;
    }
    .header-area .links.open li a{
        color: #777;
        font-weight: bold;

    }
    .header-area .toggle-menu{
        display: inline-block;
    }
}
/* end landing bage */

/* strat about us */
.about-us{
    padding-top: 50px;
    padding-bottom: 50;
    display: flex;
}
.about-us .info-box{
    flex: 1;
    padding: 30px;
}
.about-us .info-box h2{
font-weight: bold;
font-size: 30px;
color: var(--main--color);
margin: 0 0 10px;

}
.about-us .info-box p{
line-height: 1.8;
color: #767676;
margin: 0;
}
.about-us .image-box{
flex: 1;
text-align: center;
}
.about-us .image-box img{
width: 250px;
}
@media(max-width:767px){
    .about-us{
        flex-direction: column;
        text-align: center;
    }
    .about-us .info-box{
        padding: 0;
    }
}
/* end about us */
/* start skills */
.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.skills h2{
font-weight: bold;
font-size: 30px;
color: var(--main--color);
margin: 0 0 50px;
text-align: center;
}
.skills .skill-box{
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom:15px ;
}
.skills .skill-box .name{
font-weight: bold;
width: 140px;
text-align: center;
line-height: 30px;
}
.skills .skill-box .skill-progress{
height: 30px;
width:100%;
background-color: #f6f6f6;
border-radius: 6px;
position: relative;
overflow: hidden;
}
.skills .skill-box .skill-progress span{
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main--color);
    transition: all .5s;
}
@media(max-width:767px){
    .skills .skill-box{
        display: block;
    }
    .skills .skill-box .name{
        width: 100%;
        margin-bottom: 10px;
    }
}
/* end skills */
/* start gallery */
.galary{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.galary h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 50px;
    text-align: center;
}
.galary .images{
text-align: center;

}
.galary .images img {
width: 200px;
padding: 3px;
background-color: #f6f6f6;
border: 1px solid #ccc;
margin: 5px;
cursor: pointer;
}
.popup-overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
}
.popup-box h3{
font-weight: bold;
text-align: center;
margin: 0 0 20px;
color: var(--main--color);

}
.popup-box img{
    max-width: 100%;
}
.close-button{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main--color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    border-radius:50%;
    font-weight: bold;
    font-family:Arial , tahoma ;
    cursor: pointer;
}
/* end gallery */
/* start time line */
.timeline{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.timeline .timline-content{
    position: relative;
    overflow: hidden;
}
.timeline .timline-content::before{
    content: " ";
    width: 2px;
    height: 100%;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
}
.timeline .timline-content .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main--color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: white;
    padding: 2px 5px;
    font-weight: bold;
}
.timeline .timline-content .left,
.timeline .timline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;

}
.timeline .timline-content .left{
    float: left;
}
.timeline .timline-content .left::before{
    right: -35px;
}
.timeline .timline-content .right{
    float: right;
}
.timeline .timline-content .right::before{
    left:  -35px;
}
.timeline .timline-content .right::before,
.timeline .timline-content .left::before{
    content: " ";
    width: 14px;
    height: 14px;
    background-color:#fff ;
    border: 3px solid var(--main--color);
    position: absolute;
    border-radius: 50%;
    top: 20px;
}
.timeline .timline-content .content{
    padding: 20px;
    background-color: white;
}
.timeline .timline-content .content h3{
    font-weight: bold;
    color: var(--main--color);
    margin: 0 0 10px;
    
}
.timeline .timline-content .content p{
    color: #666;
    margin: 0;
    line-height: 1.6;
}
.clearfix{
    clear: both;
}
.timeline .timline-content .left .content::before{
    content: " ";
    border-style:solid ;
    border-width:10px ;
    border-color: transparent transparent transparent #fff;
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 20px;
}
.timeline .timline-content .right .content::before{
    content: " ";
    border-style:solid ;
    border-width:10px ;
    border-color: transparent #fff transparent transparent;
    height: 0;
    width: 0;
    position: absolute;
    left: -20px;
    top: 20px;
}
@media(max-width:767px){
    .timeline .timline-content .left,
    .timeline .timline-content .right{
        width: 100%;
        margin-bottom: 20px;
    }
    .timeline .timline-content .right::before,
    .timeline .timline-content .left::before{
        display: none;
    }
    .timeline .timline-content .left .content::before{
        display: none;
    }
    .timeline .timline-content .right .content::before{
        display: none;
    }
}
/* end time line */
/* start  features */
.features{
    padding-top: 80px;
    padding-bottom: 80px;
}
.features h2{
    font-weight: bold;
    color: var(--main--color);
    margin: 0 0 60px;
    font-size: 30px;
    text-align: center;
}
.features .feat-box{
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
.features .feat-box img{
    width: 96px;
}
.features .feat-box h4{
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}
.features .feat-box h4::before{
    content: " ";
    width: 40px;
    height: 4px;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;

}
.features .feat-box p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #706f6f;
}
@media(max-width:991px){
    .features .feat-box{
        width: calc(100% / 2);
    }

}
@media(max-width:575px){
    .features .feat-box{
        width: 100%;
    }
}
/* end  features */
/* start testimonials */
.testimonials{
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.testimonials::before{
    content:" ";
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main--color);
    height: 100%;
}
.testimonials::after{
    content:" ";
    width: 50%;
    position: absolute;
    right:  0;
    top: 0;
    background-color: #333;
    height: 100%;
}
.testimonials h2{
    font-weight: bold;
    color:#fff;
    margin: 0 0 30px;
    font-size: 30px;
    text-align: left;
    position: relative;
    z-index: 2;
}
.testimonials .ts-box{
    position: relative;
    z-index: 2;
    width: calc(98% / 3);
    float: left;
    background-color: #fff;
    padding: 20px;
    
    
}
.testimonials .ts-box:not(:last-of-type){
    margin-right:1% ;
}
.testimonials .ts-box > p{
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 18px;
    color: #707070;
    font-style: italic;


}
.testimonials .ts-box .person-info {
    overflow: hidden;

}
.testimonials .ts-box .person-info img{
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
.testimonials .ts-box .person-info h4{
    margin: 14px 0 10px;
}
.testimonials .ts-box .person-info p{
    color: #777;
    margin: 0;
}
@media(max-width:991px){
    .testimonials .ts-box .person-info{
        text-align: center;
        overflow: visible;
    }
    .testimonials .ts-box .person-info img{
        float: none;
        margin-right: 0;

    }
}
@media(max-width:767px){
    .testimonials .ts-box{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        float: none;
    }
    .testimonials h2{
        text-align: center;
    }

}
/* end testimonials */

/* start contact us */
.contact{
    min-height: 600px;
    background-image: url("../images/contact.png");
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.contact .over-lay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255,255,.6 );
}
.contact h2{
    font-weight: bold;
    color:var(--main--color);
    margin: 0 0 30px;
    font-size: 60px;
    text-align: center;
}
.contact .container{
    position: relative;
    z-index: 2;
}
.contact form{
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left{
    float: left;
    width: 49%;
}
.contact form .right{
    float: right;
    width: 49%;
}

.contact form input:not([type="submit"]) ,
.contact form textarea{
    display: block;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: rgb(218, 218,218,.19 );
}
.contact form input:not([type="submit"]):focus ,
.contact form textarea:focus{

    outline-color: var(--main--color);
    
}
.contact form input{
    height: 40px;
}
.contact form textarea{
    height: 150px;
}
.contact form input[type="submit"]{
    padding: 10px;
    width: 100%;
    border-color:transparent ;
    background-color: var(--main--color);
    color: #fff;
    cursor:pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::placeholder{
    opacity: 0;
    transition: .3s;
}
@media(max-width:767px){
    .contact form .left, 
    .contact form .right{
        float: none;
        width: 100%;
    } 
}
/* end contact us */
/* start footer  */
.footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.footer span{
    font-size: 25px;
    color: var(--main--color);
}
/* end footer  */

/* start grid system */
    @media (min-width:576px){ /* small devices => phones*/
        .container{
            max-width: 540px;
        }
    }
    @media (min-width:768px){ /* midum devices => tablets*/
        .container{
            max-width: 720px;
        }
    }
    @media (min-width:992px){ /* desktop devices => labtop*/
        .container{
            max-width: 960px;
        }
    }
    @media (min-width:1200px){ /* larg screen devices => pc*/
        .container{
            max-width: 1140px;
        }
    }
/* end grid system */